<footer class="site-footer">
  <div class="footer-inner">
    <p class="copyright" tabindex="0"><span>© {{ "" | year }} {{ site.name }}.</span> <span class="full-rights">{{ site.copyrightNotice }}</span></p>
    <nav class="footer-links">
      <a href="/privacy/">Privacy</a>
    </nav>
  </div>
</footer>
